@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-disabled: #9ca3af;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */

  --font-family-sans: "Pretendard", sans-serif;
  --breakpoint-mobile: 640px;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

:root {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
}

span {
  font-weight: var(--font-weight-regular);
}
